<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
	  <add name="QuizzDB"
	  connectionString="data source=192.168.0.115,6064;initial catalog=Quizz;user id=sa;password=admin;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework"
	  providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>